.brush {
  height: 100px;
  width: 100px;
  margin-top: 50px;
  border: 1px solid black;
}
.square {
  height: 20px;
  width: 20px;
  background-color: red;
  margin: 10px;
}
.green {
  background-color: green;
}
